
body{
  font-family: 'Montserrat', sans-serif;
}
.containerClass{
  margin-top: 100px;;
  
  
}
.imageContainer{
  width:14vw;
}
img{
  border:0;
}
.frame{
  
  justify-content: center;
  display:flex;
  
  

}
/* css before submit for ID Card */
.idImage{
  width:15vw;
 
  
}
.idContent{
  padding-top:5%;
  padding-left: 5%;
  
  font-size:large;
}

.idClass{
  display:flex;
  margin-top:20vh;
  
  height:30vh;


}
/* css after */
.idClassAfter{
  border: 3px solid #00FFFF;
  margin:20vh auto;
  width:90%;
  -webkit-border-radius: 1em;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  

}
.idContentAfter{
     
}
.idImageAfter{
  border: 1px solid aqua;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  background:linear-gradient(35deg, #00FFFF, 	#00BFFF);
  


  
}
.image{
  width:10vw;
  margin:15% auto;
  height:17vh;
  -webkit-border-radius: 2em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}

.right{
  border:1px solid grey;
  width:40%;
  padding :15px;
}
.left{
  border:1px solid grey;
  width:40%;
  padding :15px;
}

.heading{
  font-size: x-large;
  width:80%;
  height:8vh;
  box-styling:border-box;
  margin-left:10%;
  margin-bottom: 0;
  padding-bottom:10px;
  color:white;
  text-align: center;

}
h4{
  color:#247777;
}